extends /layouts/main
block title
  title Manage Group: #{groupName}
block content
  div.container
    div.row
      div.card.col.s12
        form(action='/manage/group/#{groupName}' method='POST')
          div.card-content
            span.card-title= groupName
            div.row
              div.input-field.col.s12
                input#groupName.validate(type='text' name='groupName' required value='#{groupName}')
                label(for='groupName') Name
            div.row
              div.input-field.col.s12
                input#groupDescription.validate(type='text' name='groupDescription' required value='#{groupDescription}')
                label(for='groupDescription') Description
            div.row
              div.input-field.col.s12
                select(multiple name='permissions')
                  option(value='' disabled selected) Select Permissions
                  each val in permissions
                    - if (groupPermissions.indexOf(val) > -1)
                      option(value='#{val}' selected)= val
                    - else
                      option(value='#{val}')= val
                label Permissions
            div.row
              div.input-field.col.s12
                select(multiple name='users')
                  option(value='' disabled selected) Select Users
                  each val in users
                    - if (groupUsers.indexOf(val) > -1)
                      option(value='#{val}' selected)= val
                    - else
                      option(value='#{val}')= val
                label Users
          div.card-action
            button.btn(type='submit') Update
            
