extends /layouts/main
block title
  title Manage Users
block content
  div(class='container')
    div(class='row')
      div(class='col s12')
        ul(class='tabs')
          li(class='tab col s4')
            a(href='#users') Users
          li(class='tab col s4')
            a(href='#groups') Groups
          li(class='tab col s4')
            a(href='#permissions') Permissions
    div(class='row card')
      div(id='users' class='col s12')
        table(class='responsive-table')
          thead
            tr
              th Username
              th First Name
              th Last Name
              th Email
              th Created At
              th Reset Password
              th Delete
          tbody
            each val in users
              tr
                td: a(href='/manage/user/#{val.username}')= val.username
                td= val.firstName
                td= val.lastName
                td: a(href='mailto:#{val.email}').green-text= val.email
                td= val.createdAt
                td: a(href='/manage/reset/#{val.username}').orange-text RESET
                td: a(href='/manage/delete/#{val.username}').red-text DELETE
      div(id='groups' class='col s12')
        table.responsive-table
          thead: tr
            th Group Name
            th Group Description
          tbody
            each val in groups
              tr
                td: a(href='/manage/group/#{val.groupName}')= val.groupName
                td= val.groupDescription
      div(id='permissions' class='col s12')
        |permissions
