extends /layouts/main
block title
  title Manage Users
block content
  div(class='container')
    div(class='row')
      div(class='col s12')
        ul(class='tabs')
          li(class='tab col s4')
            a(href='#users') Users
          li(class='tab col s4')
            a(href='#groups') Groups
          li(class='tab col s4')
            a(href='#permissions') Permissions
    div#users
      div.row
        div.card.col.s12
          div.card-content
            span.card-title Users List
            div.row
              table.responsive-table.col.s12
                thead
                  tr
                    th Username
                    th First Name
                    th Last Name
                    th Email
                    th Reset Password
                    th Delete
                tbody
                  each val in users
                    tr
                      td: a(href='/manage/user/#{val.username}')= val.username
                      td= val.firstName
                      td= val.lastName
                      td: a(href='mailto:#{val.email}').green-text.truncate= val.email
                      td: a(href='/manage/reset/#{val.username}').orange-text RESET
                      td: a(href='javascript:void(0)' onclick='deleteUser("#{val.username}")').red-text DELETE
              unless userMessage == ''
                ul.collection
                  each val in userMessage
                    li.collection-item= val
              unless userError == ''
                ul.collection
                  each val in userError
                    li.collection-item.red-text= val
    div#groups
      div.row
        div.card.col.s12
          div.card-content
            span.card-title Groups List
            div.row
              table.responsive-table.col.s12
                thead: tr
                  th Group Name
                  th Group Description
                tbody
                  each val in groups
                    tr
                      td: a(href='/manage/group/#{val.groupName}')= val.groupName
                      td= val.groupDescription
      div.row
        div.card.col.s12
          form#newGroupForm(action='' method='POST' onsubmit='setAction()')
            div.card-content
              span.card-title New Group
              div.row
                div.input-field.col.s12.l6
                  input#groupName.validate(type='text' name='groupName' required oninput='validateForm()')
                  label(for='groupName') Name
                div.input-field.col.s12.l6
                  input#groupDescription.validate(type='text' name='groupDescription' required)
                  label(for='groupDescription') Description
                unless groupMessage == ''
                  ul.collection
                    each val in groupMessage
                      li.collection-item= val
                unless groupError == ''
                  ul.collection
                    each val in groupError
                      li.collection-item.red-text= val
            div.card-action
              button.btn(type='submit') Create Group
    div#permissions
      |permissions
block pagescript
  script.
    function setAction(){$("#newGroupForm").attr("action","/manage/group/"+$("#groupName").val()+"?new=true")}function validateForm(){$("#groupName").val().match(/[^\w]/g)&&Materialize.toast("Group Name must match \\w",4000);$("#groupName").val($("#groupName").val().replace(/[^\w]/g,""))};
    function deleteUser(username) {
      var $toastMessage = $('<span><a href="/manage/user/'+username+'/delete?redirectTo=/manage#users" class="red-text">Delete</a> user: '+username+'</span>');
      Materialize.toast($toastMessage, 5000);
    }
