extends /layouts/main
block title
<<<<<<< HEAD
    title Manage Users
block content
    div(class='container')
        div(class='row')
            div(class='col s12')
                ul(class='tabs').green-text
                    li(class='tab col s4')
                        a(href='#users') Users
                    li(class='tab col s4')
                        a(href='#groups') Groups
                    li(class='tab col s4')
                        a(href='#permissions') Permissions
        div#users
            div.row
                div.card.col.s12
                    div.card-content
                        span.card-title Users List
                        div.row
                            table.responsive-table.highlight.col.s12
                                thead
                                    tr
                                        th Username
                                        th First Name
                                        th Last Name
                                        th Email
                                        th Reset Password
                                        th Delete
                                tbody
                                    each val in users
                                        tr
                                            td: a(href='/manage/user/#{val.username}')= val.username
                                            td= val.firstName
                                            td= val.lastName
                                            td: a(href='mailto:#{val.email}').truncate= val.email
                                            td: a(href='/manage/reset/#{val.username}').btn-flat.red-text RESET
                                            td: a(href='javascript:void(0)' onclick='deleteUser("#{val.username}")').btn-flat.red-text DELETE
                        unless userError == ''
                            div.row
                                ul.collection
                                    each val in userError
                                        li.collection-item.red-text= val
        div#groups
            div.row
                div.card.col.s12
                    div.card-content
                        span.card-title Groups List
                        div.row
                            table.responsive-table.highlight.col.s12
                                thead: tr
                                    th Group Name
                                    th Group Description
                                    th Delete
                                tbody
                                    each val in groups
                                        tr
                                            td: a(href='/manage/group/#{val.groupName}')= val.groupName
                                            td= val.groupDescription
                                            td: a(href='javascript:void(0)' onclick='deleteGroup("#{val.groupName}")').red-text DELETE
                        unless groupError == ''
                            div.row
                                ul.collection
                                    each val in groupError
                                        li.collection-item.red-text= val
            div.row
                div.card.col.s12
                    form#newGroupForm(action='' method='POST' onsubmit='setAction()')
                        div.card-content
                            span.card-title New Group
                            div.row
                                div.input-field.col.s12.l6
                                    input#groupName.validate(type='text' name='groupName' required oninput='validateForm()')
                                    label(for='groupName') Name
                                div.input-field.col.s12.l6
                                    input#groupDescription.validate(type='text' name='groupDescription' required)
                                    label(for='groupDescription') Description
                        div.card-action
                            button.btn(type='submit') Create Group
        div#permissions
            div.row
                div.card.col.s12
                    div.card-content
                        span.card-title Permissions List
                        div.row
                            table.responsive-table.highlight.col.s12
                                thead: tr
                                    th Permission
                                    th Delete
                                tbody
                                    each val in permissions
                                        tr
                                            td: a(href='javascript:void(0)')= val.permDescription
                                            td: a(href='javascript:void(0)' onclick='deletePerm("#{val.permDescription}")').red-text DELETE
                        unless permError == ''
                            div.row
                                ul.collection
                                    each val in permError
                                        li.collection-item.red-text= val
            div.row
                div.card.col.s12
                    form#newPermForm(action='' method='POST' onsubmit='setPermAction()')
                        div.card-content
                            span.card-title New Permission
                            div.row
                                div.input-field.col.s12
                                    input#permDescription.validate(type='text' name='permDescription' required oninput='validatePermForm()')
                                    label(for='permDescription') Permission
                        div.card-action
                            button.btn(type='submit') Create Permission
block pagescript
    script.
        function setAction(){$("#newGroupForm").attr("action","/manage/group/"+$("#groupName").val()+"?new=true")}function validateForm(){$("#groupName").val().match(/[^\w]/g)&&Materialize.toast("Group Name must match \\w",4E3);$("#groupName").val($("#groupName").val().replace(/[^\w]/g,""))}function deleteUser(a){a=$('<span><a href="/manage/user/'+a+'/delete?redirectTo=/manage#users" class="red-text">Delete</a> user: '+a+"</span>");Materialize.toast(a,5E3)}
        function deleteGroup(a){a=$('<span><a href="/manage/group/'+a+'/delete?redirectTo=/manage#groups" class="red-text">Delete</a> group: '+a+"</span>");Materialize.toast(a,5E3)};
        function setPermAction() {
            $('#newPermForm').attr('action', '/manage/permission/'+$('#permDescription').val());
        }
        function validatePermForm() {
            if ($('#permDescription').val().match(/[^\w]/g)) {
                Materialize.toast('Permission must match \\w', 4000);
            }
            $('#permDescription').val($('#permDescription').val().replace(/[^\w]/g, ''));
        }
        function deletePerm(perm) {
            var $toastContent = $('<span><a href="/manage/permission/'+perm+'/delete?redirectTo=/manage#permissions" class="red-text">Delete</a> permission '+perm+'</span>');
            Materialize.toast($toastContent, 5000);
        }
=======
  title Manage Users
block content
  div(class='container')
    div(class='row')
      div(class='col s12')
        ul(class='tabs').green-text
          li(class='tab col s4')
            a(href='#users') Users
          li(class='tab col s4')
            a(href='#groups') Groups
          li(class='tab col s4')
            a(href='#permissions') Permissions
    div#users
      div.row
        div.card.col.s12
          div.card-content
            span.card-title Users List
            div.row
              table.responsive-table.highlight.col.s12
                thead
                  tr
                    th Username
                    th First Name
                    th Last Name
                    th Email
                    th Reset Password
                    th Delete
                tbody
                  each val in users
                    tr
                      td: a(href='/manage/user/#{val.username}')= val.username
                      td= val.firstName
                      td= val.lastName
                      td: a(href='mailto:#{val.email}').truncate= val.email
                      td: a(href='/manage/reset/#{val.username}').btn-flat.red-text RESET
                      td: a(href='javascript:void(0)' onclick='deleteUser("#{val.username}")').btn-flat.red-text DELETE
            unless userError == ''
              div.row
                ul.collection
                  each val in userError
                    li.collection-item.red-text= val
    div#groups
      div.row
        div.card.col.s12
          div.card-content
            span.card-title Groups List
            div.row
              table.responsive-table.highlight.col.s12
                thead: tr
                  th Group Name
                  th Group Description
                  th Delete
                tbody
                  each val in groups
                    tr
                      td: a(href='/manage/group/#{val.groupName}')= val.groupName
                      td= val.groupDescription
                      td: a(href='javascript:void(0)' onclick='deleteGroup("#{val.groupName}")').red-text DELETE
            unless groupError == ''
              div.row
                ul.collection
                  each val in groupError
                    li.collection-item.red-text= val
      div.row
        div.card.col.s12
          form#newGroupForm(action='' method='POST' onsubmit='setAction()')
            div.card-content
              span.card-title New Group
              div.row
                div.input-field.col.s12.l6
                  input#groupName.validate(type='text' name='groupName' required oninput='validateForm()')
                  label(for='groupName') Name
                div.input-field.col.s12.l6
                  input#groupDescription.validate(type='text' name='groupDescription' required)
                  label(for='groupDescription') Description
            div.card-action
              button.btn(type='submit') Create Group
    div#permissions
      div.row
        div.card.col.s12
          div.card-content
            span.card-title Permissions List
            div.row
              table.responsive-table.highlight.col.s12
                thead: tr
                  th Permission
                  th Delete
                tbody
                  each val in permissions
                    tr
                      td: a(href='javascript:void(0)')= val.permDescription
                      td: a(href='javascript:void(0)' onclick='deletePerm("#{val.permDescription}")').red-text DELETE
            unless permError == ''
              div.row
                ul.collection
                  each val in permError
                    li.collection-item.red-text= val
      div.row
        div.card.col.s12
          form#newPermForm(action='' method='POST' onsubmit='setPermAction()')
            div.card-content
              span.card-title New Permission
              div.row
                div.input-field.col.s12
                  input#permDescription.validate(type='text' name='permDescription' required oninput='validatePermForm()')
                  label(for='permDescription') Permission
            div.card-action
              button.btn(type='submit') Create Permission
block pagescript
  script.
    function setAction(){$("#newGroupForm").attr("action","/manage/group/"+$("#groupName").val()+"?new=true")}function validateForm(){$("#groupName").val().match(/[^\w]/g)&&Materialize.toast("Group Name must match \\w",4E3);$("#groupName").val($("#groupName").val().replace(/[^\w]/g,""))}function deleteUser(a){a=$('<span><a href="/manage/user/'+a+'/delete?redirectTo=/manage#users" class="red-text">Delete</a> user: '+a+"</span>");Materialize.toast(a,5E3)}
    function deleteGroup(a){a=$('<span><a href="/manage/group/'+a+'/delete?redirectTo=/manage#groups" class="red-text">Delete</a> group: '+a+"</span>");Materialize.toast(a,5E3)};
    function setPermAction() {
      $('#newPermForm').attr('action', '/manage/permission/'+$('#permDescription').val());
    }
    function validatePermForm() {
      if ($('#permDescription').val().match(/[^\w]/g)) {
        Materialize.toast('Permission must match \\w', 4000);
      }
      $('#permDescription').val($('#permDescription').val().replace(/[^\w]/g, ''));
    }
    function deletePerm(perm) {
      var $toastContent = $('<span><a href="/manage/permission/'+perm+'/delete?redirectTo=/manage#permissions" class="red-text">Delete</a> permission '+perm+'</span>');
      Materialize.toast($toastContent, 5000);
    }
>>>>>>> b7f1cd8cfd2e050f01f341f5b9eb91591821da7b
